/*body{
    background-color: #87CEFA;
	width:100%;
	}*/
.click, .rule, .setting {
	
	margin-top:40px;	
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.click:hover {
	background-color:#5cbf2a;
}
.click:active {
	position:relative;
	top:1px;
}
#start, #setting, #rule, #exit, #continue, #on, #off{
	background-color:#3498db;
	border:1px solid #18ab29;
	display:inline-block;
	border-radius:28px;
}
#start:hover {
	background-color:#5cbf2a;
}
#setting:hover {
	background-color:#5cbf2a;
}
#rule:hover {
	background-color:#5cbf2a;
}
#exit:hover {
	background-color:#5cbf2a;
}
#on:hover {
	background-color:#5cbf2a;
}
#off:hover {
	background-color:#5cbf2a;
}
